defmodule <%= @module_name %> do
  @moduledoc """
  Custom content type: <%= @type_name %>.

  Defines URL routing and layout defaults for the `:<%= @type_name %>` content type.
  """

  @behaviour Sayfa.Behaviours.ContentType

  @impl true
  def name, do: :<%= @type_name %>

  @impl true
  def directory, do: "<%= @type_name %>s"

  @impl true
  def url_prefix, do: "<%= @type_name %>s"

  @impl true
  def default_layout, do: "page"

  @impl true
  def required_fields, do: [:title]
end
