<article class="container-content page-wrapper">
  <%= @block.(:breadcrumb, []) %>
  <header class="content-header-sm">
    <h1 class="page-title-lg"><%= @content.title %></h1>
  </header>
  <div class="prose-page">
    <%= @inner_content %>
  </div>
</article>
